# Файлы и папки виртуальных окружений
venv/
env/
.venv/

# Файлы конфигурации IDE
.idea/
.idea
.vscode/

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
*.tmp

# Файлы базы данных
*.sqlite3

# Среда разработки
.DS_Store

# Секретные файлы или файлы конфигурации
*.env
config.yaml

# Файлы, связанные с Docker (если используется)
docker-compose.override.yml
